<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Dockerize23app</title>
</head>
<body>
    <div class="container">
       <div class="inner-container">
           <div class="icon-container">
    <i class="fa-brands fa-docker"></i>
    <i class="fa-brands fa-node-js"></i>
    </div>
    <%- include('partials/header.ejs') %>
    <h2>A nodejs app ran in a docker container deployed to heroku.</h2>
    <p>This is a nodejs app that use docker to containerize its files, then uses heroku for deployment. Ejs is used as a template engine for rendering the server-side view. </p>
    <br>
    <hr>
    <h4>^--Teaching while learning--^</h4>
    <hr>
    <br>
    
    <%- include('./partials/footer.ejs') %>
</div>
</div>
<script src="https://kit.fontawesome.com/07eef8672e.js" crossorigin="anonymous"></script>
</body>
</html>