<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
</head>
<body>
    <h1>Dockerize23</h1>
    <h2>Docker with nodejs deployed to heroku.</h2>
    <p>This a nodejs dockerized application that is deployed to heroku. Ejs is the template engine that's used to render the server-side view.</p>
</body>
</html>